language: node_js
node_js:
  - "7"

cache:
  directories:
    - "node_modules"

install:
    - npm install && npm update

script:
    - npm run build

deploy:
    provider: npm
    email: ksilviu.marian@gmail.com
    api_key: $NPM_TOKEN
